h1, p {
    text-align: center;
}

ol li:hover {
    background-color: rgb(107, 172, 107);
}
ol li:active {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol, ul {
    list-style: none;
}


