div:hover {
    border: 2px solid black;
    transition: 2s;
}

div:first-of-type {
    background-color: #A87222;
}
div:nth-of-type(2) {
    background-color: #FFC266;
}
div:nth-of-type(3) {
    background-color: #49ABF5;
}

div:nth-of-type(4) {
    background-color: #1167A8;
}

div:last-of-type {
    background-color: pink;
}

div:first-of-type > h3 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

div:nth-of-type(2) > h3{
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div:nth-of-type(3) > h3{
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div:nth-of-type(4) > h3{
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div:last-of-type > h3{
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div:nth-of-type(odd) {
    font-style: italic;
}


